# This is an example environment variable file. Copy this to a new file named ".env" and fill in the appropriate values for your environment. Do not commit the .env file to version control, as it may contain sensitive information such as database connection strings and email credentials.

# Database connection string for SQLAlchemy. Update the server name, and driver as needed for your environment.
SQL_CONNECTION_STRING = mssql+pyodbc://@INSERT_SERVERNAME_HERE/AGOLCleanup?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes

# Email credentials for sending notifications. Update the sender email and password as needed.
SENDER_EMAIL =
SENDER_PASSWORD =

SMTP_SERVER =
SMTP_PORT =

# Names for calculated tables in the database. Update these if you want to use different table names for storing delete status information.
DELETE_STATUS_TABLE_NAME = DeleteStatus
WHITELISTED_ENTRAID_GROUPS_TABLE_NAME = Whitelisted_EntraID_Groups

# Storage quota for user content in megabytes. Update this value as needed to set the maximum allowed storage for user content.
USER_STORAGE_QUOTA_MB = 25

# Dry run mode used to test logic of scripts without sending emails. Set this to True to enable dry run mode, which will skip sending emails. Set to False to enable actual email sending.
DRY_RUN = False